@import "tailwindcss";

:root {
  --background: #2E6160;
  --foreground: #EEFBEE;
  --gradient-icon-verde: #004C31;
  --gradient-icon-azul: #004A6A;
  --flat: #004D53;
  --gradient-light-verde: #009963;
  --gradient-light-azul: #006B99;
  --flat-light: #197F8A;
  --button: #6EFF91;
  --green-dark: #122727;
  --green-light: #2E6160;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #122727;
    --foreground: #EEFBEE;
  }
}

::-moz-selection {
  color: #122727;
  background: #6EFF91;
}
::selection {
  color: #122727;
  background: #6EFF91;
}

body {
  @apply bg-[#122727];
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-manrope), Helvetica, Arial, sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
/* Hide scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom snap scroll behavior */
.snap-mandatory {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
